:root {
  --font-body: Arial, Helvetica, sans-serif;
  --font-headline: Haettenschweiler, "Arial Narrow Bold", sans-serif;
  /* colors */
  --primary-color: #ff6f61;
  --secondary-color: #4caf50;
  --tertiary-color: #f4f4f9;
  --dark-grey: #333333;

  /* sizes */
  --font-base: 18px;
  --small-font: 0.8em;
  --large-font: 1.2em;
}

/* Reset some basic elements */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: var(--font-base);
}

body {
  font-family: var(--font-body);
  line-height: 100%;
}

/* Container */
.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icons {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Header */
.header {
  background-color: var(--secondary-color);
  color: #fff;
  padding: 10px 0;
}

.header .logo {
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
}

.header .icons {
  display: flex;
  align-items: center;
}

.header .icons i {
  color: #fff;
  font-size: 20px;
  margin-left: 20px;
  cursor: pointer;
}

.header .icons i:hover {
  color: var(--dark-grey);
}

.btn-dark i {
  color: blue !important;
}


/* Mobile Menu */
.menu-toggle {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.btn {
  background: none;
  border: none;
  color: #fff;
  font-size: 20px;
  margin-left: 20px;
  cursor: pointer;
  padding: 0;
}

/* Footer */
#main-footer {
  background-color: var(--secondary-color);
  color: #fff;
  padding: 20px 0;
  text-align: center;
}

body {
  display: flexbox;
  width: 100%;
}

footer {
  width: 100%;
}

.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-nav {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-nav .recipe-count {
  margin-right: 20px;
  font-size: 18px;
}

.footer-nav .btn-footer {
  background: none;
  border: none;
  color: #fff;
  font-size: 20px;
  margin: 0 10px;
  cursor: pointer;
  padding: 0; /* Remove default padding */
}

.footer-nav .btn:focus {
  outline: none; /* Remove focus outline */
}

.footer-nav .btn:hover {
  color: var(--dark-grey);
}

#favotite-btn {
  color: var(--dark-grey);
}

.footer-info {
  text-align: center;
}

.footer-info p {
  margin-bottom: 10px;
}

.footer-info ul {
  list-style: none;
  padding: 0;
}

.footer-info ul li {
  display: inline;
  margin: 0 10px;
}

.footer-info ul li a {
  color: #fff;
  text-decoration: none;
}

.footer-info ul li a:hover {
  text-decoration: underline;
}

/* recipe box */
.recipe-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.recipe-container {
  display: block;
  align-items: center;
  border-radius: 8px;
  padding: 10px;
  margin: 10px;
  width: 100%;
  font-family: var(--font-body);
  align-self: center;
}

.recipe-image {
  width: 80px;
  height: 80px;
  overflow: hidden;
  border-radius: 8px;
  text-align: center;
  margin: 0 auto;
}

.recipe-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.recipe-info {
  text-align: center;
}

.recipe-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5px;
}

.recipe-notes {
  font-size: 14px;
  margin-bottom: 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.recipe-stars {
  display: flex;
  align-items: center;
}

.stars-outer {
  position: relative;
  display: inline-block;
  font-family: FontAwesome;
  color: #ccc;
}

.stars-inner {
  white-space: nowrap;
  overflow: hidden;
  color: gold;
}

.stars-outer::before {
  content: "\f005 \f005 \f005 \f005 \f005";
  font-family: FontAwesome;
}

.stars-inner::before {
  content: "\f005 \f005 \f005 \f005 \f005";
  font-family: FontAwesome;
}

/* list view */
.list-view .recipe-container {
  width: 700px;
  flex-direction: row;
}

.grid-view .recipe-container {
  width: 200px;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.grid-view .recipe-info {
  margin-left: 0;
}

.view-toggle {
  margin-bottom: 20px;
  text-align: center;
}

.recipe-link {
  display: block;
  text-decoration: none;
  color: inherit;
}

/* recipe */
html, body {
  height: 100%;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}

.recipe-listing {
  max-width: 800px; 
  width: 100%;
  padding: 20px;
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
  background-color: #fff;
  border-radius: 8px;
}

.recipe-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.recipe-header {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.recipe-img {
  border-radius: 100%;
  max-width: 150px;
  margin-right: 20px;
}

.recipe-category {
  font-size: 18px;
  font-weight: bold;
}

.recipe-notes {
  margin-bottom: 10px;
  font-style: italic;
}

.recipe-details {
  margin-bottom: 10px;
}

.recipe-details-item {
  margin-bottom: 5px;
}

.tab-container {
  margin-bottom: 10px;
}

.tab-button {
  padding: 10px;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
  cursor: pointer;
  margin-right: 5px;
}

.tab-button:hover {
  background-color: #ddd;
}

.tab-content {
  border: 1px solid #ccc;
  padding: 10px;
  display: none;
}

.tab-content:first-child {
  display: block; /* Display the first tab content by default */
}

.ingredient, .instruction {
  margin-bottom: 5px;
}

#search-form {
  position: absolute;
  left: 50%;
  top: 9%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  background-color: #f2f2f2;
  border-radius: 20px;
  padding: 4px 6px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#search-input {
  flex: 1;
  border: none;
  outline: none;
  font-size: 16px;
  padding: 8px;
  border-radius: 20px;
}

#search-input::placeholder {
  color: #999;
}

.unique{
  padding: 20px;
}

#search-form button {
  margin-left: 10px;
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#search-form button:hover {
  background-color: #45a049;
}

#result-search {
  display: none;
  position: absolute;
  left: 50%;
  top: 60px;
  transform: translateX(-50%);
  background-color: #f0f0f0;
  padding: 5px 10px;
  border-radius: 5px;
  font-weight: bold;
  color: #333;
}

/* add recipe */
#recipe-form {
  width: 500px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #f9f9f9;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  font-family: Arial, sans-serif;
}

#recipe-form label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #333;
}

#recipe-form input[type="text"],
#recipe-form input[type="number"],
#recipe-form textarea {
  width: calc(100% - 20px);
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

#recipe-form textarea {
  resize: vertical;
}

#recipe-form button {
  display: block;
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #5cb85c;
  color: white;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#recipe-form button:hover {
  background-color: #4cae4c;
}

/* successfull save */
.savedRecipe {
  text-align: center;
  background-color: #fff;
  padding: 50px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  width: 80%;
  margin: 50px auto;
}
.success-icon {
  font-size: 60px;
  color: #4CAF50;
  display: block;
  margin-bottom: 20px;
}
.success-title {
  margin-bottom: 20px;
}
.success-content h1 {
  font-size: 24px;
  margin: 0;
}
.success-content p {
  font-size: 18px;
  margin: 0;
}

/* delete dialog */
#alertDialog {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

#confirmationDialog {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

.dialog-content {
  background-color: white;
  padding: 20px;
  width: 300px;
  margin: 15% auto;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

button {
  padding: 10px 20px;
  margin-right: 10px;
  cursor: pointer;
}

/* Responsive Design */
@media (max-width: 600px) {
  #recipe-form {
    width: 90%;
    padding: 10px;
  }

  #recipe-form input[type="text"],
  #recipe-form input[type="number"],
  #recipe-form textarea {
    width: calc(100% - 10px);
    margin-bottom: 15px;
  }

  .list-view .recipe-container {
    width: 300px;
    flex-direction: row;
  }

  .header .logo {
    display: none;
  }

  .container {
    flex-direction: column;
  }

  .footer-content {
    flex-direction: column;
    align-items: center;
  }
}
